<div class="pageTop">
    <span class="pageTop-photo"><img src="./../../assets/images/eira-img-face.svg"></span>
</div>
<div class="ng-login">
    <div class="ng-login-center">
        <div class="ng-login-center-padding">
            <div class="ng-login-center-title">elRA</div>
            <div class="login">
                <span>Request Password Reset</span>
                <span>8 digits including uppercase and lowercase numbers</span>
            </div>
            <div class="ng-login-input">
                <input type="password" placeholder="enter new password" [(ngModel)]="password.newPassword">
            </div>
            <div class="ng-login-input">
                <input type="password" placeholder="Confirm the password you entered" [(ngModel)]="password.confirmPassword">
            </div>
            <div class="ng-login-btn">
                <span (click)="submit()"><img src="../../assets/images/Group15.svg">SAVE</span>
            </div>
        </div>
    </div>
    <div class="loading" *ngIf="elLoading">
        <div class="loading-bg"></div>
        <div class="loading-img">
            <div><img src="../../assets/images/loding.gif"></div>
            <div>loading...</div>
        </div>
    </div>
</div>