<div>
    <div class="ng-crumbs"><a routerLink="/Homepage">Home</a>><a [routerLink]="['/QuestionTypes']"> Question Type Management</a>> Question Type Info</div>
    <div class="ng-pageName-title"><ul class="ng-pageName-title-left"><li>Question Type Info</li></ul></div>
    <div class="ng-write-style">
        <div class="ng-write-style-left">
            <div>
                <ul>
                    <li>Question Type Name</li>
                    <li>
                        <!-- <select><option>A - Customer</option></select> -->
                        <input type="text" [(ngModel)]="TypeInfo.questionTypeName">
                    </li>
                </ul>
                <ul>
                    <li>Question Type ID</li>
                    <li>
                        <!-- <select><option>A1</option></select> -->
                        <input type="text" [(ngModel)]="TypeInfo.questionTypeCode">
                    </li>
                </ul>
            </div>
            <div>
                <ul>
                    <li>Status</li>
                    <li>
                        <select [(ngModel)]="TypeInfo.status">
                            <option>Active</option>
                            <option>InActive</option>
                        </select>
                    </li>
                </ul>
            </div>
        </div>
        <div class="ng-operation-time">
            {{TypeInfo.updateTime}} {{TypeInfo.updateUser}}
        </div>
    </div>
    <div class="ng-table-style">
        <div class="ng-table-title">
            <span>Questions</span>
        </div>
        <div class="ng-table-top">
            <span class="ng-table-top-left">
                <img src="../../assets/images/Group4.svg">
                <input type="text" placeholder="Search Sub Question" (keydown)="inputSearch($event)" [(ngModel)]="questions.question">
            </span>
            <a [routerLink]="[ '/Questions/QuestionInfo']" [queryParams]="{change:0}" ><div class="ng-new-addInfo">+</div></a>
        </div>
        <table class="ng-table-flex">
            <tr class="ng-table-flex-th">
                <th class="ng-table-min-width">Question ID<img src="../../assets/images/Group20.png" (click)="sorted('questionCode')"></th>
                <th class="ng-table-max-width">Question </th>
                <th>Status</th>
                <th>Action</th>
            </tr>
            <tr class="ng-table-flex-tr" *ngFor="let item of DataList;let key=index">
                <td class="ng-table-min-width">{{item.questionCode}}</td>
                <td class="ng-table-max-width">{{item.question}}</td>
                <td [ngClass]="{'ng-color-red': item.status=='Active'}">{{item.status}}</td>
                <td>
                    <div class="ng-operating-button" (click)="ActionShow(key)"><img src="../../assets/images/Group13.svg"></div>
                    <div class="ng-position-absolute" [hidden]="!item.isShow">
                        <a [routerLink]="[ '/Questions/QuestionInfo']" [queryParams]="{id:item.id,change:1}" ><span class="active">Edit User</span></a>
                        <span (click)="DelType(item.id)" *ngIf="item.status=='Active'">Delete</span>
                    </div>
                </td>
            </tr>
        </table>
        <div class="pagination-demo" *ngIf="pageShow">
            <div class="block">
              <el-pagination [total]="totalCount" (modelChange)="ChangePage($event)" [layout]="['prev', 'pager', 'next']"></el-pagination>
            </div>
        </div>
    </div>

    <div class="ng-submit-btn">
        <span class="ng-submit-save" (click)="addType()"><img src="../../assets/images/Group15.svg">SAVE</span>
        <a [routerLink]="[ '/QuestionTypes' ]"><span class="ng-submit-cancel margin-left-30">CANCEL</span></a> 
    </div>
    <div class="loading" *ngIf="elLoading">
        <div class="loading-bg"></div>
        <div class="loading-img">
            <div><img src="../../assets/images/loding.gif"></div>
            <div>loading...</div>
        </div>
    </div>
</div>
